@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

* {
    min-width: 0;
    min-height: 0;
}

.projects-wrap {
    // background-color: #ffc665;

    
    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;


    &__slider {

      @media screen and (max-width: 760px) {
        .slider-items  {
        flex-direction: column;
        .slider-details {
          padding: 20px !important;
          order: 1;
          h3 {
            padding: 0;
            margin: 0;
          }
          p {
            margin-bottom: 0;
          }
        }
        .slider-images {
          flex-basis: 198px !important;
          margin: 0 !important;
          order: 3;
          .screenshot {
            //display: none;
            width: 250px;
          }
        }
        .slider-logo {
          display: none;
        }
      }
    }

      .slider-items {
        display: flex;
        align-content: center;
        justify-content: center;

        .slider-images {
          margin-right: -100px;
          z-index: 1;
          align-self: center;
          display: flex;
          flex-direction: column;
          flex-basis: 450px;

          img {
            padding: 0;
            margin: 0;
          }

          .links {
            display: flex;
            column-gap: 6px;
            align-content: center;
            justify-content: center;
            a {
              color: black;
              border: 1px solid grey;
              padding: 6px;
              background-color: #ffffffcc;
              border-radius: 5px;
              letter-spacing: 2px;

              &:hover {
                background-color: white;
                color:#b7453e;
              }
            }
            .notExist {
              opacity: 0.65; 
              cursor: not-allowed;
            }
          }
          

        }

        .slider-details {
          padding: 10px 100px;
          // background-color: #feeb60;
          border-radius: 15px;

          ul {
            list-style: none;
            // color: #191818;
            margin: 0;

            &::before {
              content: "DEVELOPMENT TOOLS: ";
              font-weight: bolder;
            }

            li {
              // display: inline-block;
              padding: 0;
              margin: 0;

              &::before {
                content: '\f058 \00A0'; /* You should use \ and not /*/
                font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
                font-style: normal;
                font-weight: normal;
              }

            }
          }
        }

        .slider-logo {
          align-self: center;
          margin-left: -100px;
          padding: 20px;
        }

      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;

      img {
        width: 200px;
      }

      h3 {
        font-size: xx-large;
        width: 240px;
      }

      @media (max-width: 500px) {
        h3 {
          font-size: x-large;
        }
        img {
          width: 100px;
        }
      }
    }

  }
  .topExpBg {
    transform: rotate(180deg);
    visibility: hidden;
  }

}