// The Writing Style
.writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;


  &__header {
    display: flex;
    align-items: center;
    padding-top: 20px;

    h3 {
      font-size: xx-large;
      width: 212px;
    }

    @media (max-width: 500px) {
      h3 {
        font-size: x-large;
      }
      img {
        width: 100px;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    color: black;
    flex-wrap: wrap;
  }
 
  &__nav {
    margin-top: 50px;
  }
}

.post-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-basis: 300px;
  border-left: 5px solid #ffa207;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.post-pic {
  min-height: 300px;
  box-sizing: border-box;
  position: relative;

  img {
    display: block;
    border-bottom: 1px solid #ff000000;
    border-left: 1px solid #ff000000;
    border-right: 1px solid #ff000000;
    border-radius: 10px;
  }
}

.card__svg {
  position: absolute;
  bottom: 0;
}

.post-body {
  border: 1px solid rgb(0, 9, 128);
  margin: 10px;
  background-color: #fff;
}

.post-info {
  background-color: #fff;
  padding: 0 8px 0 8px;

  &-title {
    // color: #bd5b1a;
    font-weight: bolder;
  }

  &-tags {
    display: flex;
    justify-content: space-between;
  }
}
