$white-light: #f9f0f0;
$white: #fff;

$maroon: #b7463e;
$dark-maroon: #d3a680;
$black: #181A1B;
$dark-green: #1b3804;
$dark-blue: hsl(215, 100%, 11%);
$light-yellow: #feeb60;

.dark-theme {

    background-color: $dark-blue;
    h3 {
        color: $light-yellow ;
       }
    .svg-seperator {
        fill: $dark-blue;
    }

    
    // header SVG
    header {
        #headerSvg {
            .sky-background {
                fill: #034450;
            }
              .mzoun {
                display: none;
            }
            .sun-moon {
                fill: white;
            }
            .chinguity {
                fill: #672411;
            }
            .zirrat {
                fill: #5d1602;
            }
            .jmoule-nkhel {
                fill:#672411;
            }
            .jmel {
                fill: #5d1502;
            }
            .njoums {
                display: block;
            }
        }
    }

    // bio 
    .my-bio {
        color: #1b3803;
        h3 {
            //
        }
        p {
            color: #feeb60;
        }
        &--role {
            background-color: #093610a6;
            border-left: none;
            // color: white;
          }
          &--begin {
            border-bottom: 2px solid white;
          }
          &--fin {
            border-top: 2px solid white;
          }
    }


    // Writing Component
    .writing { 
        .svgHeader  {
            &__loh {
              fill: $light-yellow;
            }
          }
     .post-content {
        .post-info {
            background-color: $black;
            color: $white-light;
            &-title {
                a{
                    color: $light-yellow; 
                }
            }
        }
        .post-pic svg {
            fill: $black;
        }
     }
    }

    // Projects
    .projects-wrap {
        .palmiers {
            fill: $dark-green;
        }
        .slider-items {
            color: $white-light;
            .slider-details {
                background-color: $black;
            }
            
            li::before {
             color:#ffa107;
            }
        }
        .projects {
            .slick-prev:before {
                color: $light-yellow;
              }
              .slick-next:before {
                color: $light-yellow;
              }
        }
    }

    // Footer
    .contact-me {
        .contact-form {
            background: #5d1502;
            h3 {
                color: white;
              }
        }
    }

}

// Light theme
.light-theme {
    background-color: $white;
    h3 {
        color: $maroon;
       }
    .svg-seperator {
        fill: $white;
    }

    // header SVG
    header {
        #headerSvg {
            .sky-background {
                fill: #ffbe51;
            }
            .sun-moon {
                fill: #fef069;
            }
            .chinguity {
                fill: #fb7d00;
            }
            .zirrat {
                fill: #ffa207;
            }
            .jmoule-nkhel {
                fill:#ffa207;
            }
            .jmel {
                fill: #ffa207;
            }
            .njoums {
                display: none;
            }
        }
    }

    // bio 
    .my-bio {
        color: #1b3803;
        h3 {
            //
        }
        &--role {
            background-color: #fef06973;
            border-left: 2px solid #fef06973;
          }
          &--begin {
            border-bottom: 2px solid black;
          }
          &--fin {
            border-top: 2px solid black;
          }
    }

    // Writing Component
    .writing { 
        .svgHeader  {
            &__loh {
              fill: $dark-maroon;
            }
          }
     .post-content {
        .post-info {
            background-color: $white;
            color: $black;
            &-title { 
                a{
                  color: $maroon;  
                }
            }
        }
        .post-pic svg {
            fill: $white;
        }
     }
    }

    // Projects
    .projects-wrap {
        .palmiers {
            fill: $dark-green;
        }
        .slider-items {
            color: $black;
            .slider-details {
                background-color: $light-yellow;
            }
            
            li::before {
             color:$maroon;
            }
        }
        .projects {
            .slick-prev:before {
                color: $maroon;
              }
              .slick-next:before {
                color: $maroon;
              }
        }
    }

    // Footer
    .contact-me {
        .contact-form {
            background: #ffbe51a8;
            h3 {
              color: #bd5b1a;
            }
        }
    }

}